@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 90vh;
  width: 100%;
}
.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90vh;
}
.header_left {
  grid-column: 1/4;
  /* background-image: url("/images/flower-purple-lical-blosso.jpg"); */
  background-size: cover;
  background-position: right;
}
.header_right {
  background-color: #2d0b3dea;
  grid-column: 4/7;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
  color: white;
}

.wellcome {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 2.12rem;
}
.paragraph {
  grid-column: 2/5;
  grid-row: 3/4;
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
}
.btn {
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: center;
  padding: 9px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  transition: all 0.4s;
}
.btn:hover {
  background-color: white;
  color: blue;
}
.text {
  position: absolute;
  text-align: center;
  top: 40%;
  right: 42%;
  background: linear-gradient(to right, #cacaca 45%, #202020 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", serif;
}
