@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");

.header3 {
  width: 100%;
  height: 90vh;
  background-color: rgb(47, 36, 36);
  font-family: "Playfair Display", serif;
}
.img {
  width: 70%;
  height: 500px;
  position: absolute;
  top: 15%;
  left: 15%;
  animation: Left 2s ease-in;
}
.text {
  width: 100%;
  text-align: center;
  color: rgba(172, 172, 172, 0.8);
  top: 15%;
}
.big__text {
  font-size: 9rem;
  color: rgba(172, 172, 172, 0.8);
  animation: Right 2s ease-out;
}
.colored__text {
  color: rgb(208, 255, 0);
}
.nav {
  width: 100%;
  padding: 0 15px;
  height: 60px;
  color: #fff;
  background-color: rgb(39, 16, 16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar_Links {
  display: flex;
  list-style: none;
}
.link {
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.link:hover {
  transform: scale(1.15);
}
.logo {
  cursor: pointer;
  font-size: 50px;
}
.login {
  color: rgb(208, 255, 0);
}

.media {
  position: absolute;
  bottom: 80px;
  color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.media__link i {
  font-size: 2.5rem;
}
.media__text {
  font-size: 18px;
  margin-left: 10px;
}

@keyframes Right {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  50% {
    transform: translateX(120px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes Left {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  50% {
    transform: translateX(-120px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
